#adminPanel{
  background:#e5e5e5;
  color:#aaa;
  font-family:"Lucida Sans Unicode",Verdana;
  font-size:14px;
}
#adminPanel a,.alert a{
  color:#aaa;
  border:0;
}
#adminPanel a.btn{
  color:#fff;
}
#adminPanel span.editText{
  color:#555;
}
span.editText{
  border:2px dashed #ccc;
}
span.editText,.toggle{
  display:block;
  cursor:pointer;
}
span.editText textarea{
  outline: 0;
  border:none;
  width:100%;
  resize:none;
  color:inherit;
  font-size:inherit;
  font-family:inherit;
  background-color:transparent;
  overflow:hidden;
  box-sizing:content-box;
}
span.editText:empty{
  min-height:20px;
}
#save{
  color: #ccc;
  left:0;
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  text-align:center;
  padding-top:100px;
  background:rgba(51,51,51,.8);
  z-index:2448;
}
.change{
  padding-left:15px;
}
.marginTop20{
  margin-top:20px;
}
.padding20{
  padding:20px;
}
.subTitle{
  font-size:18px;
  margin:10px 0 5px;
}
.fontSize24{
  font-size:24px;
}
.note-editor{
  border:2px dashed #ccc;
}
