.alert {
    margin-bottom: 0
}

div.editText {
    word-wrap: break-word;
    cursor: pointer;
    border: 2px dashed #ccc;
    display: block
}

.cursorPointer {
    cursor: pointer
}

div.editText textarea {
    outline: 0;
    border: none;
    width: 100%;
    resize: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    overflow: hidden;
    box-sizing: content-box
}

div.editText:empty {
    min-height: 20px
}

#save {
    color: #ccc;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    text-align: center;
    padding-top: 100px;
    background: rgba(51, 51, 51, .8);
    z-index: 2448
}

.change {
    padding-left: 15px
}

.marginTop5 {
    margin-top: 5px
}

.marginTop20 {
    margin-top: 20px
}

.marginLeft5 {
    margin-left: 5px
}

.padding20 {
    padding: 20px
}

.subTitle {
    color: #aaa;
    font-size: 24px;
    margin: 20px 0 5px;
    font-variant: all-small-caps
}

.menu-item-hide {
    color: #5bc0de
}

.menu-item-delete,
.menu-item-hide,
.menu-item-show {
    padding: 0 10%
}

.tab-content {
    padding: 20px
}
