#adminPanel {
    background: #e5e5e5;
    color: #aaa;
    font-family: "Lucida Sans Unicode", Verdana;
    font-size: 14px;
    text-align: left;
    font-variant: small-caps
}

#adminPanel .fas,
.cursorPointer,
div.editText {
    cursor: pointer
}

#adminPanel .btn {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis
}

#adminPanel .fontSize21 {
    font-size: 21px
}

#adminPanel a {
    color: #aaa;
    outline: 0;
    border: 0;
    text-decoration: none
}

#adminPanel a.btn,
#adminpanel .alert a {
    color: #fff
}

#adminPanel div.editText {
    color: #555;
    font-variant: normal
}

#adminPanel .normalFont {
    font-variant: normal
}

#adminPanel .nav-tabs {
    border-bottom: 2px solid #ddd
}

#adminPanel .nav-tabs>li>a:after {
    content: "";
    background: #1ab;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: all 250ms ease 0s;
    transform: scale(0)
}

#adminPanel .nav-tabs>li.active>a:after,
#adminPanel .nav-tabs>li:hover>a,
#adminPanel .nav-tabs>li:hover>a:after,
#adminPanel .nav-tabs>li>a {
    transform: scale(1)
}

#adminPanel .nav-tabs>li>a.active {
    border-bottom: 2px solid #1ab!important
}

#adminPanel .modal-content {
    background-color: #eee
}

#adminPanel .modal-header {
    border: 0
}

#adminPanel .nav li {
    font-size: 30px;
    float: none;
    display: inline-block
}

,
#adminPanel .tab-pane.active a.btn {
    color: #fff
}

#adminPanel .btn-info {
    background-color: #5bc0de;
    border-color: #5bc0de
}

#adminPanel .nav-link.active,
#adminPanel .nav-tabs>li.active a,
#adminPanel .tab-pane.active {
    background: 0!important;
    border: 0!important;
    color: #aaa!important
}

#adminPanel .clear {
    clear: both
}

@media(min-width:768px) {
    #adminPanel .modal-xl {
        width: 90%;
        max-width: 1200px
    }
}
