html {
	min-height: 100%;
	position: relative;
}

body {
	color: #fff;
	margin: 0 0 100px;
	background: #f3f3f3;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px #fff dotted;
}

.clear {clear: both;}
*:focus {outline: none;}
.toggle {cursor: pointer;}

h3 {
	margin: 0;
	padding: 0;
}

#main-title {
	float: left;
	display: inline;
	font-size: 32px;
	margin: 0 0 0 11%;
	font-weight: normal;
	padding: 13px 0 0 0;
}

#main-title a {
	border: 0;
	text-decoration: none;
}

#subtitle {
	font-size: 16px;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

#nav {
	width: 100%;
	float: left;
	position: relative;
	background: #1F2B33;
}

#nav ul {
	float: right;
	margin: 0 8% 0 0;
}

#nav li {
	float: left;
	font-size: 14px;
	list-style: none;
}

#nav li a {
	border: 0;
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding: 25px 20px 25px 25px;

}

#nav ul li.active a {
	background: #16a6b6;
}

#nav li a:hover {
	background: #16a6b6;
}

#wrapper {
	width: 52%;
	float: left;
	color: #444;
	height: auto;
	padding: 20px;
	font-size: 15px;
	background: #fff;
	margin-top: 40px;
	margin-left: 10%;
	line-height: 19px;
	border: 1px solid #fff;
}

#wrapper a {
	color: #444;
	border-bottom: 1px #444 dotted;
}

#side {
	width: 20%;
	float: left;
	height: auto;
	padding: 20px;
	font-size: 14px;
	margin-left: 2%;
	margin-top: 40px;
	background: #16a6b6;
}

span.editText {
	display: block;
	cursor: pointer;
}

textarea.editText {
	border: 0;
	padding: 0;
	width: 100%;
	height: auto;
	resize: none;
	color: inherit;
	display: block;
	overflow: hidden;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	background-color: transparent;
}

.border {
	border-radius: 5px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.hide {
	margin: 0;
	width: 100%;
	display: none;
}

.change {
	width: 100%;
	height: auto;
	padding: 20px;
	margin-top: 5px;
	background: #1F2B33;
}

.change select, .change input {
	width: 20%;
	color: #fff;
	border: none;
	padding: 10px;
	font-weight: bold;
	background: #16a6b6;
}

.change input {
	width: 40%;
}

.settings {
	width: 100%;
	clear: both;
	color: #fff;
	height: auto;
	padding: 5px 0;
	text-align: center;
	background: #16a6b6;
}

div.settings div.change {
	width: 52%;
	text-align: left;
	margin-left: 10%;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 60px;
	position: absolute;
	background: #1F2B33;
}

footer p {
	padding: 20px;
	font-size: 13px;
	margin: 0 6% 0 0;
	text-align: right;
}